* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
  color: #354aa3;
}

input {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  width: 100%;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 0 auto;
  background: var(--card-color);
  color: rgb(255, 255, 255);
  width: 400px;
  padding: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border-radius: 20px;
}

.card p {
  padding: 5px;
  color: rgba(0, 0, 0, 0.377);
  text-align: center;
}

.card img {
  display: block;
  margin: auto;
  max-height: 170px;
}
